kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: kube-plex-cluster
nodes:
  - role: control-plane
    kubeadmConfigPatches:
    - |
      kind: InitConfiguration
      nodeRegistration:
        kubeletExtraArgs:
          node-labels: "ingress-ready=true"
    extraPortMappings:
    - containerPort: 80
      hostPort: 80
      protocol: TCP
    - containerPort: 443
      hostPort: 443
      protocol: TCP
    - containerPort: 32400
      hostPort: 32400
      protocol: TCP
    extraMounts:
    - hostPath: /Users/<USERNAME>/Downloads/<BIG_BUCK_BUNNY>
      containerPath: /media/movies
      readOnly: true
  - role: worker
    extraMounts:
    - hostPath: /Users/<USERNAME>/Downloads/<big_buck_bunny>
      containerPath: /media/movies
      readOnly: true
  - role: worker
    extraMounts:
    - hostPath: /Users/<USERNAME>/Downloads/<big_buck_bunny>
      containerPath: /media/movies
      readOnly: true
  - role: worker
    extraMounts:
    - hostPath: /Users/<USERNAME>/Downloads/<big_buck_bunny>
      containerPath: /media/movies
      readOnly: true
